<footer class="footer">
    <div class="footer__logo-box">
      <a href="/"><h2 class="heading-secondary">Ariana Raheel</h2></a>
    </div>

    <div class="row">
      <div class="col-1-of-2">
        <div class="footer__navigation">
          <ul class="footer__list">
            <li class="footer__item">
              <i class="footer__item-icon icon-basic-home"></i>
              <span>Kabul, Afghanistan</span>
            </li>
            <li class="footer__item">
              <i class="footer__item-icon icon-basic-smartphone"></i>
              <span>+ 93 784 060 037</span>
            </li>
            <li class="footer__item">
              <i class="footer__item-icon icon-basic-mail-open"></i>
              <span>info@ariana-raheel.com</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-1-of-2">
        <p class="footer__copyright">
          Built by <span class="footer__link">AFGHAN STUDENTS</span> for their 
          <span class="footer__link">CAPSTONE Project</span>. <br>Copyright &copy; 2022 <span class="footer__link">Ariana Raheel</span>. 
        </p>
      </div>
    </div>
  </footer>

</body>
</html>
