
<%- include('partials/header'); %>

  <style>
    body {
      text-align: center;
      padding: 4rem 0;
      background: #EBF0F5;
    }
    i {
      font-size: 20rem;
      line-height: 20rem;
    }
    .card {
      background: white;
      padding: 6rem;
      border-radius: 4px;
      box-shadow: 0 2px 3px #C8D0D8;
      display: inline-block;
      margin: 0 auto;
    }
  </style>
  <body>
    <div class="card">
      <div style="border-radius:20rem; width:20rem; height: auto; background: #F8FAF5; margin:0 auto;">
        <i class="feature-box__icon">✓</i>
      </div>
      <h2 class="heading-secondary">Success</h2>
      <p class="paragraph">We received your contact request;<br/> we'll be in touch shortly!</p>
      <div class="u-center-text">
        <a href="/" class="btn btn--green">Home</a>
      </div>
    </div>
  </body>
</html>
